@import "styles/utils/Utils.module.scss";

.grid {
  display: grid;
  grid-gap: pxToRem(10);
  grid-template-columns: repeat(6, 100px);
  grid-template-rows:  repeat(auto-fit, 100px);
}

.avatarImage {
  border-radius: 5px;
  user-select: none;
  -webkit-user-drag: none;
}

.imageWrapper {
  position: relative;
  cursor: pointer;

  &:after {
    display: block;
    content: " ";
    border: 3px solid #30006d;
    border-radius: 6px;
    width: pxToRem(110);
    height: pxToRem(110);
    position: absolute;
    left: -5px;
    top: -5px;
    opacity: 0;
    transition: all 0.15s ease-out;
  }

  &:hover:after {
    opacity: 1;
  }
}
