.form-button, .form-button.btn {
    box-shadow: none;
    border: none;
    width: 100%;
    text-transform: capitalize;
    border-radius: 4px;

    @apply bg-purple-700 text-white;

    &:hover, &:focus {
        @apply bg-purple-800 text-white;
    }

    &:focus, &:active {
        @apply ring-4 ring-purple-300 text-white;
    }
}
