@import "styles/utils/Utils.module.scss";

.container {
  height: pxToRem(480);
}

.rouletteButton {
  border: none;
  background-size: cover;
  user-select: none;
  background-color: transparent;
  position: relative;
  outline: none !important;

  &:before {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.buttonsGroup {
  display: flex;
  justify-content: center;
}


.rouletteUiRightButton {
  background-image: url('/images/pages/roulette/roulette-ui-right-button.png');
  width: 138px;
  height: 108px;
}

.rouletteUiRightButton:before {
  content: 'демо';
  top: 56%;
  color: #00dbff;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Fregat-Regular, MyriadPro-Regular, sans-serif;
  font-size: 20px;
  text-shadow: 0 -1px 9px #005660;
}


.rouletteUiLeftButton {
  background-image: url('/images/pages/roulette/roulette-ui-left-button.png');
  width: 140px;
  height: 110px;
}

.rouletteUiLeftButton:before {
  content: 'удача';
  top: 56%;
  color: #ffeb3e;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Fregat-Regular, MyriadPro-Regular, sans-serif;
  font-size: 20px;
  text-shadow: 0 -1px 9px #837800;
}


.rouletteUiCenterButton {
  background-image: url('/images/pages/roulette/roulette-ui-center-button.png');
  width: 249px;
  height: 109px;
  top: 22px;
  position: relative;
}

.rouletteUiCenterButton:before {
  content: 'играть';
  top: 56%;
  color: #01ee04;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Fregat-Regular, MyriadPro-Regular, sans-serif;
  font-size: 30px;
  text-shadow: 0 -1px 10px #006400;
}
