@import "styles/utils/Utils.module.scss";

.arrow {
  background: url("/images/pages/roulette/arrow.png") no-repeat;
  background-size: cover;
  width: pxToRem(25);
  height: pxToRem(80);

  @include breakpoint(md) {
    width: pxToRem(30);
    height: pxToRem(96);
  }

  @include breakpoint(lg) {
    width: pxToRem(35);
    height: pxToRem(112);
  }

  @include breakpoint(xl) {
    width: pxToRem(40);
    height: pxToRem(128);
  }
}

.price {
  font-size: pxToRem(22);
  font-family: 'Bebas', sans-serif;
  margin-bottom: pxToRem(8);

  &:after {
    font-family: Rouble, sans-serif;
    content: 'p';
  }
}

.balance {
  font-size: pxToRem(14);

  &_insufficientMoney {
    color: #dc3e3e;
  }
}

.balanceCaption {
  font-family: 'MyriadPro-Regular', sans-serif;
  text-transform: uppercase;
}

.balanceNumber {
  font-family: sans-serif;
}

.buttonWrapper {
  display: flex;
  border: 2px solid #4c1d95;
  padding: 2px;
  border-radius: 8px;

  &_disabled {
    border: 2px solid rgba(76, 29, 149, 0.4);
  }
}

.button {
  font-family: Fregat-Regular, MyriadPro-Regular, sans-serif;
  font-size: pxToRem(32);
  line-height: pxToRem(32);
  background: #4c1d95;
  color: #ffffff;
  padding: pxToRem(16) pxToRem(32);
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 4px;
  transition: all 0.15s ease;
  outline: none;
  border: none;
  user-select: none;

  &:disabled {
    background: #341467;
    color: #aeaeae;
    opacity: 0.4;
  }

  &:hover:not(:disabled) {
    color: #dfdede;
    background: #40187f;
  }

  &:active:not(:disabled) {
    color: #cbcbcb;
    background: #341467;
  }
}