@import "styles/utils/Utils.module.scss";

.container {
  background: #1b003c;
  border: 1px solid #420e84;
  box-shadow: inset 0 0 4px -2px #000000;
  color: #ffffff;
}

.dialog {
  @include breakpoint(md) {
    width: pxToRem(700);
    max-width: none!important;
  }
}

.header {
  font-size: pxToRem(48);
}

.titleSecond {
  font-size: pxToRem(22);

  @include breakpoint(md) {
    font-size: pxToRem(32);
  }
}

.image {
  max-height: pxToRem(200);
  width: auto;

  @include breakpoint(md) {
    max-height: pxToRem(400);
    max-width: 100%;
  }
}
