@import "styles/utils/Utils.module.scss";

.container {
  display: grid;
  grid-gap: pxToRem(16);
  grid-template-areas: "ga1" "ga2";
}

.areaHeader {
  grid-area: ga1;
}

.areaTable {
  grid-area: ga2;
}
