.input {
    background: #191250;
    border-radius: 3px;
    outline: none;
    border: 1px solid #191250;
    width: 100%;
    display: block;
    color: #ffffff;
    transition: all 0.15s linear;
}

.input:focus {
    border: 1px solid #32278b;
}

.input::placeholder {
    color: #959595;
    font-style: italic;
}

.textarea {
    resize: none;
    background: none;
    width: 100%;
    border: none;
    outline: none;
    color: #ffffff;
}

.textareaContainer {
    padding: 10px 20px 35px;
}

.button {
    padding: 13px 18px;
    background: #191250;
    color: #efcf07;
    border-radius: 3px;
    border: 1px solid #221a62;
    transition: all 0.15s linear;
}

.button:hover, .button:active {
    color: #d1b504;
    background: #171148;
}

.button:focus {
    border: 1px solid #32278b;
}

.button:disabled {
    opacity: 0.8;
}

.button:hover, .button:active, .button:focus {
    background: #191250;
    color: #efcf07;
    border: 1px solid #221a62;
}

.textCounter {
    color: #efcf07;
    font-size: 0.8rem;
    bottom: 10px;
    right: 20px;
}
