.author {
    color: #c0004d;
    font-size: 1.2rem;
}

.message {
}

.container {
    background: #191250;
    padding: 10px 20px;
    border-radius: 3px;
}

.header {

}

.date {
    color: #efcf07;
    font-size: 0.8rem;
}
