@import "styles/utils/Utils.module.scss";

.hat {
  &__wrapper {
    position: sticky;
    top: 0;
    z-index: 100;
  }
}

.avatar {
  $size: pxToRem(60);
  width: $size;
  height: $size;
  border-radius: $size / 2;
}

.hat {
  height: pxToRem(70);
  box-sizing: content-box;
}

.logo {
  max-height: pxToRem(70);
}
