@import "styles/utils/Utils.module.scss";

.hat {
  &__wrapper {
    position: sticky;
    top: 0;
    z-index: 100;
  }
}

.avatar {
  $size: pxToRem(60);
  width: $size;
  height: $size;
  border-radius: $size / 2;
}

.hat {
  height: pxToRem(70);
  box-sizing: content-box;
}

.logo {
  max-height: pxToRem(70);
}

.loginButton {
  background: radial-gradient(#fefd25, #fec012);
  border: none;
  outline: none;
  border-radius: 100px;
  font-family: "Gilroy-SemiBold", sans-serif;
  font-size: pxToRem(24);
  line-height: 1;
  padding: 5px 10px;
}

.loginIcon {
  width: pxToRem(35);
}
