@import "styles/utils/Utils.module.scss";

.avatar {
  $size: pxToRem(60);
  width: $size;
  height: $size;
  border-radius: $size / 2;
}

.hat {
  height: pxToRem(70);
  box-sizing: content-box;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  max-height: pxToRem(70);
}
