@import "styles/utils/Utils.module.scss";

.button {
  $size: pxToRem(60);

  display: flex;
  align-items: center;
  justify-content: center;
  width: $size;
  height: $size;
  color: white;
}

.icon {
  width: 80%;
  height: 80%;
}
