.roulette-ui-left-button {
    background-image: url('/images/roulette/roulette-ui-left-button.png');
    width: 140px;
    height: 110px;
}

.roulette-ui-left-button:before {
    content: 'удача';
    top: 56%;
    color: #ffeb3e;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Fregat-Regular, MyriadPro-Regular, sans-serif;
    font-size: 20px;
    text-shadow: 0 -1px 9px #837800;
}
