@import "styles/utils/Utils.module.scss";

.navItem {
  display: inline-block;
  font-size: pxToRem(20);

  &:first-child {
    &:before {
      content: "";
    }
  }
}

.navLink {
  display: block;
  padding: 15px pxToRem(25);
  border-radius: 10px;
  line-height: 1;
  background: transparent;
  border: 3px solid transparent;
  color: #ffffff;

  &:hover {
    color: #faee0f;
  }

  &_theme {
    &_active {
      background: #1b003c;
      border: 3px solid #420e84;
      font-weight: 500;

      &:hover {
        color: #ffffff;
        cursor: default;
      }
    }
  }
}

.menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: auto;
  //grid-gap: pxToRem(16);

  @include breakpoint(xl) {
    //grid-gap: pxToRem(32);
  }

  @include breakpoint(xxl) {
    //grid-gap: pxToRem(40);
  }
}