@import "styles/utils/Utils.module.scss";

.userName {
  text-transform: uppercase;
  font-size: pxToRem(28);
  text-overflow: ellipsis;
  max-width: pxToRem(200);
  overflow: hidden;
}

.avatarImageContainer {
  width: pxToRem(48);
  height: pxToRem(48);
  border-radius: 100%;
  overflow: hidden;
}

.avatarImage {
  width: 100%;
  height: 100%;
  -webkit-user-drag: none;
  user-select: none;
}

.chevron {
  width: pxToRem(20);
}

.buttonWrapper {
  height: pxToRem(100);
}