.rouletteSlot_default {
    background: #8d8799;
    background-clip: content-box;
    padding: 0 1px;
    border-radius: 2px;
    font-size: 100px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}