$white: #ffffff;
$black: #000000;
$valid: green;
$invalid: red;

$skin-rarity-colors: (
        "consumer-grade": #FFFFFF,
        "industrial-grade": #A3C1E0,
        "mil-spec-grade": #4B8BBE,
        "restricted": #A77BCA,
        "classified": #D17C9B,
        "covert": #E03F3F,
        "contraband": #FFD700,
);