.category-tile {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 30px;
    background-color: #30006d;
    width: 100%;
    color: #ffffff;
    font-family: "MyriadPro-Regular", sans-serif;
    box-shadow: 0 1px rgba(101, 55, 162, .45) inset, 0 -1px rgb(34 1 75) inset;
    background-image: linear-gradient(to bottom, rgba(72, 20, 139, .61), #30006D);
    padding: 20px;
    box-sizing: border-box;
    text-shadow: 0 0 3px #ffffff;
    user-select: none;
    cursor: pointer;
}