@import "styles/utils/Utils.module.scss";

.item {
  background: #1b003c;
  border-radius: 5px;
  border: 2px solid #420e84;
  cursor: pointer;
  transition: all 0.15s ease-out;

  &:hover {
    box-shadow: 0 0 6px 1px #420e84;
    background: #170033;
  }

  &__badge {
    position: absolute;
    top: pxToRem(10);
    right: pxToRem(10);
  }

  &_theme_gold {
    border-color: #ffd700;

    &:hover {
      box-shadow: 0 0 6px 1px #ffd700;
    }
  }

  &_theme_silver {
    border-color: #c0c0c0;

    &:hover {
      box-shadow: 0 0 6px 1px #c0c0c0;
    }
  }
}

.image {
  max-height: 100%;
  max-width: 100%;
  -webkit-user-drag: none;
}

.imageContainer {
  height: pxToRem(200);
}

.name {
  border-top: 2px solid #420e84;
  font-weight: bold;
  color: #9474bc;

  &_theme_gold {
    color: #ffd700;
    border-color: #ffd700;
  }

  &_theme_silver {
    color: #c0c0c0;
    border-color: #c0c0c0;
  }
}

.nameText {
  height: 3em;
  box-sizing: content-box;
  line-height: 1.5em;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
