.roulette-ui-center-button {
    background-image: url('/images/roulette/roulette-ui-center-button.png');
    width: 249px;
    height: 109px;
    top: 22px;
}

.roulette-ui-center-button:before {
    content: 'играть';
    top: 56%;
    color: #01ee04;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Fregat-Regular, MyriadPro-Regular, sans-serif;
    font-size: 30px;
    text-shadow: 0 -1px 10px #006400;
}
