@use "sass:color";
@import "styles/utils/Utils.module";

div.control {
  border-radius: 0;
  border: 1px solid #c4c4c4;
  box-shadow: none;
  min-height: auto;
  max-height: none;
  height: pxToRem(38);
  padding: 0 0 0 pxToRem(8);

  &:hover {
    border-color: #c4c4c4;
  }

  @include breakpoint(md) {
    height: pxToRem(42);
    padding: 0 0 0 pxToRem(18);
  }

  @include breakpoint(lg) {
    height: pxToRem(34);
    padding: 0 0 0 pxToRem(15);
  }
}

div.control_valid {
  border-color: $valid;

  &:hover {
    border-color: $valid;
  }
}

div.control_invalid {
  border-color: $invalid;

  &:hover {
    border-color: $invalid;
  }
}
