.modalDialog_prize {
    max-width: 700px;
}


.modalContent {
    background: #1b003c;
    border: 1px solid #420e84;
    box-shadow: inset 0 0 4px -2px #000000;
    color: #ffffff;
}


.image {
    max-height: 200px;
    width: auto;
}

@media (min-width: 768px) {
    .image {
        width: 100%;
        max-height: initial;
    }
}


.neonHeader {
    position: relative;
    z-index: 1;
    font-size: 2.5rem;
}


.text {
    color: #ffffff;
}

.text_theme_dark {
    color: #bcbcbc;
}


.title {
    font-size: 2rem;
}

@media (min-width: 768px) {
    .title {
        font-size: 2.5rem;
    }
}

@media (min-width: 992px) {
    .title {
        font-size: 3rem;
    }
}

.titleSecond {
    font-size: 22px;
}

@media (min-width: 768px) {
    .titleSecond {
        font-size: 32px;
    }
}
