.category-tiles {
    display: grid;
    margin: auto;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    justify-items: center;
    justify-content: space-between;
    grid-template-areas: "t1 t2 t3 t3 t4" "t5 t6 t6 t7 t8";
    width: 100%;
}

@media (min-width: 1400px) {
    .category-tiles {
        height: 522px;
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .category-tiles {
        height: 450px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .category-tiles {
        height: 367px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .category-tiles {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 2fr 1fr 1fr 2fr;
        grid-template-areas: "t1 t2 t2 t4" "t3 t3 t6 t6" "t5 t7 t7 t8";
        height: 696px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .category-tiles {
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "t1 t2" "t3 t3" "t4 t5" "t6 t6" "t7 t8";
        height: 1305px;
    }
}

@media (max-width: 575px) {
    .category-tiles {
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "t1 t2" "t3 t4" "t5 t6" "t7 t8";
        height: 1365px;
    }
}
