@font-face {
    font-family: 'Comfortaa';
    src: local('Comfortaa Light'), local('Comfortaa-Light'),
    url('/fonts/comfortaa/fonts/comfortaalight.woff2') format('woff2'),
    url('/fonts/comfortaa/fonts/comfortaalight.woff') format('woff'),
    url('/fonts/comfortaa/fonts/comfortaalight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Comfortaa';
    src: local('Comfortaa'),
    url('/fonts/comfortaa/fonts/comfortaa.woff2') format('woff2'),
    url('/fonts/comfortaa/fonts/comfortaa.woff') format('woff'),
    url('/fonts/comfortaa/fonts/comfortaa.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Comfortaa';
    src: local('Comfortaa Bold'), local('Comfortaa-Bold'),
        url('/fonts/comfortaa/fonts/comfortaabold.woff2') format('woff2'),
        url('/fonts/comfortaa/fonts/comfortaabold.woff') format('woff'),
        url('/fonts/comfortaa/fonts/comfortaabold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
