/*источник*/
/*https://bootstraptema.ru/stuff/snippets_bootstrap/button/gradient_stil_knopok_bootstrap_4/23-1-0-3173*/

.button {
    border-radius: 100px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 17px 39px;
    text-transform: uppercase;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2);
    color: #ffffff;
}


.button_theme_success {
    background: #05ac50;
    background: linear-gradient(315deg, #05ac50 0%, #21dd72 50%, #05c44e 51%, #05ac50 71%, #05ac50 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#05ac50', endColorstr='#05ac50', GradientType=1);
    background-size: 400% 400%;
    border: medium none;
    background-position: 0 31%;
    transition: background-position 500ms ease-out, box-shadow 100ms ease-out, background-color 100ms ease-out;
}

.button_theme_success:not(:disabled):focus {
    box-shadow: 0 0 0 0.2rem rgb(40 167 69 / 50%);
}

.button_theme_success:not(:disabled):hover {
    background-position: 100% 70%
}


.button_theme_danger {
    background: #e81216;
    background: linear-gradient(135deg, #e81216 0%, #f45355 50%, #f6290c 51%, #ed0e11 71%, #fc1b21 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#05ac50', endColorstr='#05ac50', GradientType=1);
    background-size: 400% 400%;
    border: medium none;
    background-position: 0 31%;
    transition: background-position 500ms ease-out, box-shadow 100ms ease-out, background-color 100ms ease-out;
}

.button_theme_danger:not(:disabled):focus {
    box-shadow: 0 0 0 0.2rem rgb(220 53 69 / 50%);
}

.button_theme_danger:not(:disabled):hover {
    background-position: 100% 70%
}
