.boxCard {
  display: flex;
  flex-direction: column;
  padding: 10px 0 0 0;
  position: relative;
  width: 284px;
  height: 411px;
  box-sizing: border-box;
  background-size: 100% auto;
  background-position-y: bottom;
  background-repeat: no-repeat;

  &__basic {
    background-image: url("/images/pages/main/cards/basic-bg.png");
  }

  &__allin {
    background-image: url("/images/pages/main/cards/allin-bg.png");
  }

  &__discount {
    background-image: url("/images/pages/main/cards/discount-bg.png");
  }

  &__event {
    background-image: url("/images/pages/main/cards/event-bg.png");
  }

  &__hot {
    background-image: url("/images/pages/main/cards/hot-bg.png");
  }

  &_header {
    margin: 0 0 -30px;
  }

  &_plate {
    position: relative;
    top: -20px;
  }
}

.body {
  flex: 1 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 259px;
}

.button {
  display: flex;
  width: 180px;
  height: 67px;
  background: url('/images/pages/main/cards/basic-button.png') no-repeat;
  background-size: cover;
  border: none;
  outline: none;
  color: #efcf07;
  font-family: Bebas, sans-serif;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  &:hover {
    color: #efcf07;
  }
}

.footer {
  flex: 0 1;
  text-align: center;
  padding: 0 0 15px;
}

.header {
  //flex: 0 1;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: Bebas, sans-serif;
  font-size: 22px;
}

.image {
  max-width: pxToRem(200);
  max-height: pxToRem(200);
}

.imageWrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding: 5px 20px;
}

.plate {
  width: 208px;
  height: 80px;
  background-size: cover;
  background-repeat: no-repeat;

  &:after {
    text-transform: uppercase;
    color: #ffffff;
    font-family: Bebas, MyriadPro-Regular, sans-serif;
    font-size: 17px;
    position: relative;
    font-weight: 600;
    width: 100%;
    display: block;
    text-align: center;
    top: 21px;
    line-height: 28px;
  }

  &__allin {
    background-image: url("/images/pages/main/cards/allin-bg-plate.png");

    &:after {
      content: 'ALLIN';
    }
  }

  &__discount {
    background-image: url("/images/pages/main/cards/discount-bg-plate.png");

    &:after {
      content: 'скидка';
    }
  }

  &__event {
    background-image: url("/images/pages/main/cards/event-bg-plate.png");

    &:after {
      content: 'EVENT';
    }
  }

  &__hot {
    background-image: url("/images/pages/main/cards/hot-bg-plate.png");

    &:after {
      content: 'в тренде';
    }
  }
}

.price {
  font-size: 22px;

  &:after {
    font-family: Rouble, sans-serif;
    content: 'p';
  }
}

.boxCardPrice {
  text-align: center;
  font-family: Bebas, sans-serif;
}

.oldPrice {
  position: relative;
  top: -1px;
  font-size: 18px;
  color: #9e9e9e;

  &:after {
    content: '';
    background-color: #eadd03;
    width: 100%;
    height: 1px;
    position: absolute;
    top: calc(50% - 2px);
    left: 0;
  }
}