@import "styles/utils/Utils.module.scss";

.navItems {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: pxToRem(16);
}

.navButton {
  height: pxToRem(75);
  border-radius: pxToRem(40);
  padding: pxToRem(20);
  width: pxToRem(75);
}

.navIcon {
  max-height: 100%;
}

.createReview {
  border-radius: 10px;
  padding: 0 pxToRem(40);
  font-size: pxToRem(24);
  font-family: Bebas, sans-serif;
  user-select: none;
}