@import "styles/utils/Utils.module.scss";

.item {
  padding: pxToRem(20) pxToRem(30);
  border: 1px solid #30006d;
  border-radius: 10px;
  background-color: #30006d;
  box-shadow: inset 0 0 80px 40px #0c0020;
}

.title {
  color: #d30155;
  font-weight: 700;
  font-size: pxToRem(20);
}

.content {
  font-size: pxToRem(18);
}
