@import "styles/utils/Utils.module.scss";

.control {
  background-color: #30006d !important;
  height: pxToRem(75) !important;
  font-size: pxToRem(20);
  white-space: nowrap !important;
  width: pxToRem(300);
}

.option {
  font-size: pxToRem(20);
  white-space: nowrap !important;
}

.valueContainer {
  color: #ffffff !important;
}

.singleValue {
  color: #ffffff !important;
}