@import "styles/utils/Utils.module.scss";

.container {
  background: #1b003c;
  border: 1px solid #420e84;
  box-shadow: inset 0 0 4px -2px #000000;
  color: #ffffff;
  overflow: hidden;
}

.dialog {
  @include breakpoint(md) {
    width: pxToRem(700);
    max-width: none !important;
  }
}

.header {
  font-size: pxToRem(48);
}

.titleSecond {
  font-size: pxToRem(22);
  padding: 0 pxToRem(70);

  @include breakpoint(md) {
    font-size: pxToRem(32);
  }
}

.image {
  max-height: pxToRem(200);
  width: auto;

  @include breakpoint(md) {
    max-height: pxToRem(400);
    max-width: 100%;
  }
}

.closeButton {
  $size: pxToRem(160);
  position: absolute;
  border-radius: $size / 2;
  height: $size;
  width: $size;
  background: white;
  top: - $size / 2;
  right: - $size / 2;
  cursor: pointer;
  color: #420e84;
  transition: all 0.15s ease-out;

  &:hover {
    background: #ff2626;
    color: #ffffff;
  }
}

.closeButtonIcon {
  position: absolute;
  left: pxToRem(30);
  bottom: pxToRem(30);
  width: pxToRem(40);
  height: pxToRem(40);
}
