@import "styles/utils/Utils.module.scss";

//.pyamentIcons {
//  &__icon {
//    margin;
//  }
//}

.icon {
  width: pxToRem(100);

  &_yapay, &_yoomoney, &_halva {
    width: auto;
    height: pxToRem(30);
  }

  &_mastercard, &_maestro {
    width: pxToRem(50);
  }
}
