.caption {
    text-align: center;
}


.container {
    padding: 10px;
    height: 100px;
    width: 150px;
    box-sizing: content-box;
    overflow: hidden;
    border-bottom: 3px solid #350474;
    transition: all 0.1s linear;
}

.container:hover {
    border-bottom: 3px solid #47069a;
}


.image {
    max-width: 100%;
    max-height: 64px;
    -webkit-user-drag: none;
}


.username {
    font-family: Bebas,sans-serif;
    font-size: 30px;
}

.winner {
    font-family: 'Calibry', sans-serif;
    font-size: 14px;
    color: #959595;
}


.arrow {
    color: #f1d209;
}
