@import "styles/utils/Utils.module.scss";

.avatarImage {
  $size: pxToRem(200);
  width: $size;
  height: $size;
  border-radius: $size / 2;
}

.userName {
  font-size: pxToRem(48);
  text-transform: uppercase;
  line-height: 1;
}

.userNameString {
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;

  @include breakpoint(lg) {
    max-width: pxToRem(500);
  }
}

.stat {
  font-size: pxToRem(24);
}

.balance {
  color: #4c1d95;
}

.balanceNumber {
  &:after {
    font-family: Rouble, sans-serif;
    content: 'p';
  }
}

.authServiceIcon {
  width: pxToRem(20);
}
