@import "styles/utils/Utils.module.scss";

.container {
  display: grid;
  grid-template-columns: repeat(1, pxToRem(284));
  grid-gap: pxToRem(25);

  @include breakpoint(sm) {
    grid-template-columns: repeat(2, pxToRem(284));
  }

  @include breakpoint(lg) {
    grid-template-columns: repeat(3, pxToRem(284));
  }

  @include breakpoint(xl) {
    grid-template-columns: repeat(4, pxToRem(284));
  }

  @include breakpoint(xxl) {
    grid-template-columns: repeat(5, pxToRem(284));
  }
}
