@import "styles/utils/Utils.module.scss";

.title1 {
  font-size: pxToRem(26);

  @include breakpoint(lg) {
    font-size: pxToRem(32);
  }

  @include breakpoint(xl) {
    font-size: pxToRem(40);
  }
}

.title2 {
  font-size: pxToRem(14);

  @include breakpoint(sm) {
    font-size: pxToRem(16);
  }

  @include breakpoint(md) {
    font-size: pxToRem(20);
  }

  @include breakpoint(lg) {
    font-size: pxToRem(24);
  }

  @include breakpoint(xl) {
    font-size: pxToRem(32);
  }
}

.headerImage {
  width: pxToRem(200);
  margin: 0 0 0 -10%;

  @include breakpoint(lg) {
    width: pxToRem(250);
  }

  @include breakpoint(xl) {
    width: auto;
  }
}
