@import "styles/utils/Utils.module.scss";

.icon {
  height: pxToRem(120);

  &_heart {
    color: #ff1493;
  }

  &_gamepad {
    color: #ffb300;
  }

  &_coins {
    color: #fff700;
  }

  &_truck {
    color: #b2ff00;
  }

  &_youtube {
    color: #ff0000;
  }

  &_user {
    color: #0c7fff;
  }
}

.accordionBody {
  color: #000000;
}

.accordionHeader {
  & > button {
    color: #ffffff;
    background-color: #191250;
  }
}

.accordionItem {
  border: 1px solid #221a62;
}
