@import "styles/utils/Utils.module.scss";

.catalogHeader {
  font-size: pxToRem(24);
  margin: pxToRem(16) 0;

  @include breakpoint(sm) {
    font-size: pxToRem(32);
    margin: pxToRem(32) 0;
  }
  @include breakpoint(md) {
    font-size: pxToRem(56);
    margin: pxToRem(48) 0;
  }

  @include breakpoint(lg) {
    font-size: pxToRem(48);
    margin: pxToRem(40) 0;
  }
}

.mainSlider {
  width: 100%;

  @include breakpoint(lg) {
    width: pxToRem(1000);
  }
}

.eventsPanel {
  width: auto;
}
