@import "styles/utils/Utils.module.scss";

.main {
  &__events {
    margin: pxToRem(20) 0 0;
  }

  &__history {
    margin: pxToRem(12) 0;

    @include breakpoint(md) {
      margin: pxToRem(16) 0;
    }

    @include breakpoint(xl) {
      margin: pxToRem(24) 0;
    }
  }

  &__section {
    margin: pxToRem(16) 0 0;

    @include breakpoint(sm) {
      margin: pxToRem(32) 0 0;
    }
    @include breakpoint(md) {
      margin: pxToRem(48) 0 0;
    }

    @include breakpoint(lg) {
      margin: pxToRem(60) 0 0;
    }
  }
}

.catalogHeader {
  font-size: pxToRem(24);

  @include breakpoint(sm) {
    font-size: pxToRem(32);
  }
  @include breakpoint(md) {
    font-size: pxToRem(56);
  }

  @include breakpoint(lg) {
    font-size: pxToRem(48);
  }
}

.events {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: pxToRem(16);

  @include breakpoint(md) {
    grid-template-columns: 1fr pxToRem(200);
  }

  @include breakpoint(lg) {
    grid-template-columns: 1fr pxToRem(250);
  }

  @include breakpoint(xl) {
    grid-template-columns: 1fr pxToRem(300);
  }

  @include breakpoint(xxl) {
    grid-template-columns: 1fr pxToRem(400);
  }
}
