@import "styles/utils/Utils.module.scss";

.main {
  &__events {
    margin: pxToRem(20) 0 0;
  }
}

.catalogHeader {
  font-size: pxToRem(24);
  margin: pxToRem(16) 0;

  @include breakpoint(sm) {
    font-size: pxToRem(32);
    margin: pxToRem(32) 0;
  }
  @include breakpoint(md) {
    font-size: pxToRem(56);
    margin: pxToRem(48) 0;
  }

  @include breakpoint(lg) {
    font-size: pxToRem(48);
    margin: pxToRem(40) 0;
  }
}

.events {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: pxToRem(16);

  @include breakpoint(md) {
    grid-template-columns: 1fr pxToRem(300);
  }

  @include breakpoint(xxl) {
    grid-template-columns: 1fr pxToRem(400);
  }
}
//
//.slider {
//  width: 100%;
//}