@import "styles/utils/Utils.module.scss";

.slide {
  width: 100% !important;
  height: 300px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}