@import "styles/utils/Utils.module.scss";

.slider {
  height: 100%;
}

.slide {
  width: 100% !important;
  height: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}