@import "styles/utils/Utils.module.scss";

.slide {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  width: 100% !important;
}

.slideImage {
  width: 100%;
  height: auto;
}
