@import "styles/utils/Utils.module.scss";

.categoryTile {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: pxToRem(30);
  width: 100%;
  color: #ffffff;
  font-family: "MyriadPro-Regular", sans-serif;
  box-shadow: 0 1px rgba(101, 55, 162, .45) inset, 0 -1px rgb(34 1 75) inset;
  padding: pxToRem(20);
  box-sizing: border-box;
  user-select: none;
  cursor: pointer;
  position: relative;
  background-color: #30006d;
  background-image: linear-gradient(to bottom, rgba(72, 20, 139, .61), #30006D);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &_select {
    outline: 1px solid rgb(0, 164, 150);
  }

  &__caption {
    position: absolute;
    bottom: pxToRem(30);
    left: 0;
    right: 0;
  }
}

.categoryTile1 {
  grid-area: t1;
  background-image: url('/images/pages/main/tiles/all.png');
}

.categoryTile2 {
  grid-area: t2;
  background-image: url('/images/pages/main/tiles/the-best.png');
}

.categoryTile3 {
  grid-area: t3;
  background-image: url('/images/pages/main/tiles/phones.png');
}

.categoryTile4 {
  grid-area: t4;
  background-image: url('/images/pages/main/tiles/crypto.png');
}

.categoryTile5 {
  grid-area: t5;
  background-image: url('/images/pages/main/tiles/gadjets.png');
}

.categoryTile6 {
  grid-area: t6;
  background-image: url('/images/pages/main/tiles/for-games.png');
}

.categoryTile7 {
  grid-area: t7;
  background-image: url('/images/pages/main/tiles/apple.png');
}

.categoryTile8 {
  grid-area: t8;
  background-image: url('/images/pages/main/tiles/all-in.png');
}

.categoryTiles {
  display: grid;
  margin: auto;
  grid-gap: pxToRem(12);
  justify-items: center;
  justify-content: space-between;
  grid-template-areas: "t1 t2 t3 t3 t4" "t5 t6 t6 t7 t8";
  width: 100%;

  @include breakpoint(sm) {
    grid-template-rows: repeat(5, pxToRem(254));
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "t1 t2" "t3 t3" "t4 t5" "t6 t6" "t7 t8";
  }

  @include breakpoint(md) {
    grid-template-rows: repeat(3, pxToRem(234));
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-areas:
        "t1 t2 t2 t4"
        "t3 t3 t6 t6"
        "t5 t7 t7 t8";
  }

  @include breakpoint(lg) {
    grid-template-rows: repeat(2, pxToRem(180));
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "t1 t2 t3 t3 t4" "t5 t6 t6 t7 t8";
  }

  @include breakpoint(xl) {
    grid-template-rows: repeat(2, pxToRem(245));
  }

  @include breakpoint(xxl) {
    grid-template-rows: repeat(2, pxToRem(350));
  }
}

.tileName {
  background: rgba(0,0,0,0.30);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: pxToRem(60);
  font-family: 'Bebas', sans-serif;
  text-shadow: 0 2px 0 #1e1e1e;
  backdrop-filter: blur(2px);
}
