.box-card-button {
    width: 180px;
    height: 67px;
    background: url('/images/cards/basic-button.png') no-repeat;
    background-size: cover;
    border: none;
    outline: none;
    color: #efcf07;
    font-family: Bebas, sans-serif;
    font-size: 18px;
}
