@font-face {
	font-family: 'Lato Light';
	src: url('/fonts/lato/fonts/lato_light.eot'); /* IE 9 Compatibility Mode */
	src: url('/fonts/lato/fonts/lato_light.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/fonts/lato/fonts/lato_light.woff2') format('woff2'), /* Super Modern Browsers */
		url('/fonts/lato/fonts/lato_light.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/fonts/lato/fonts/lato_light.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/fonts/lato/fonts/lato_light.svg#lato_light') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: 'Lato Regular';
  src: url('/fonts/lato/fonts/lato_regular.eot'); /* IE 9 Compatibility Mode */
  src: url('/fonts/lato/fonts/lato_regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
  url('/fonts/lato/fonts/lato_regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('/fonts/lato/fonts/lato_regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
  url('/fonts/lato/fonts/lato_regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/fonts/lato/fonts/lato_regular.svg#lato_regular') format('svg'); /* Chrome < 4, Legacy iOS */
}
