.box-card {
    display: flex;
    flex-direction: column;
    padding: 10px 0 0 0;
    position: relative;
    width: 284px;
    height: 411px;
    box-sizing: border-box;
    background-size: 100% auto;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-image: url("/images/cards/basic-bg.png");
}
