@import "styles/utils/Utils.module.scss";

.button {
  box-shadow: none;
  border: none;
  width: 100%;
  text-transform: capitalize;
  border-radius: 4px;
  color: #ffffff;
  background: #6d28d9;
  font-size: pxToRem(24);
  font-family: "Lato Regular", serif;

  &:active, &:hover, &:focus {
    background: #5b21b6;
  }

  &:focus, &:focus:active  {
    box-shadow: 0 0 0 0.25rem #c4b5fd;
  }
}
