.header-menu-item-link {
    padding: 17px 10px;
    font-size: 16px;
    line-height: 16px;
    display: block;
    height: 50px;
    box-sizing: border-box;
    text-decoration: none;
    color: #ffffff;
}

.header-menu-item-link:hover {
    color: #faee0f;
    background: #120027;
    transition: 0.2s linear;
    text-shadow: 0 0 0 #faee0f;
    text-decoration: none;
}
