@import "styles/utils/Utils.module.scss";

.name {
  &:first-letter {
    text-transform: uppercase;
  }
}

.value {
  &:first-letter {
    text-transform: uppercase;
  }
}

.statRow {
  padding: 0 pxToRem(4);
  line-height: 2;

  &:hover {
    outline: 1px solid #cccccc;
  }
}

.grid {
  display: grid;
  grid-gap: pxToRem(16);
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto auto 350px;
  grid-template-areas:
          "ga1 ga1 ga1 ga1 ga1 ga1 ga1 ga1"
          "ga2 ga2 ga3 ga3 ga4 ga4 ga5 ga5"
          "ga6 ga6 ga6 ga6 ga6 ga7 ga7 ga7";
}

.areaHeader {
  grid-area: ga1;
}

.areaUsers {
  grid-area: ga2;
}

.areaGames {
  grid-area: ga3;
}

.areaRevenue {
  grid-area: ga4;
}

.areaProfit {
  grid-area: ga5;
}

.areaUsers,.areaGames, .areaRevenue, .areaProfit {
  padding-bottom: pxToRem(30);
}

.areaProfitChart {
  grid-area: ga6;
}

.areaTransactions {
  grid-area: ga7;
}

.pill {
  font-size: pxToRem(16);
  border-radius: 5px;
  padding: pxToRem(4) pxToRem(8);
  background: #4c1d95;
  color: #ffffff;
  user-select: none;
}

.transactionsListWrapper {
  overflow-y: scroll;
  flex-grow: 1;
  padding: pxToRem(4);

  &_withScroll {
    padding: pxToRem(4) pxToRem(16) pxToRem(4) pxToRem(4);
  }
}