@import "styles/utils/Utils.module.scss";

.container {
  display: grid;
  grid-template-columns: auto pxToRem(120) 1fr auto;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 3px 1px #e7e7e7;
}

.item {
  display: flex;
  align-items: center;
}

.status {
  font-family: Calibri, sans-serif;
  font-style: pxToRem(12);
  text-transform: capitalize;

  &_theme {
    &_completed {
      color: #05ac50;
    }

    &_pending {
      color: #fec012;
    }

    &_declined {
      color: #d30155;
    }
  }
}

.sum {
  display: inline-block;
  border-radius: 5px;
  font-weight: 600;
  padding: pxToRem(4) pxToRem(8);
  color: #ffffff;
  background-color: #4c1d95;
}

.number {
  color: #4c1d95;
  font-weight: bold;
}