@import "styles/utils/Utils.module.scss";

.container {
  padding: 0 0 pxToRem(10);
  height: 100px;
  box-sizing: content-box;
  overflow: hidden;
  border-bottom: 3px solid #350474;
  transition: all 0.1s linear;
}

.container:hover {
  border-bottom: 3px solid #47069a;
}

.image {
  max-width: 100%;
  max-height: 64px;
  -webkit-user-drag: none;
}

.username {
  font-family: Bebas, sans-serif;
  font-size: 30px;
}

.winner {
  font-family: 'Calibry', sans-serif;
  font-size: 14px;
  color: #959595;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
}

.arrow {
  color: #f1d209;
  width: 12px;
  height: 12px;
}
