.app-container .content-container .side-menu:hover {
    width: 300px;
}

.voyager .table.table-striped>tbody>tr {
    transition: background-color 0.1s linear;
}

.voyager .table.table-striped>tbody>tr:hover {
    background-color: rgba(212, 239, 255, 0.43);
}

.database-tables tr:hover a.desctable {
    color: #23527c;
}