.box-card-plate {
    width: 208px;
    height: 80px;
    background-size: cover;
    background-repeat: no-repeat;
}

.box-card-plate:after {
    text-transform: uppercase;
    color: #ffffff;
    font-family: Bebas, MyriadPro-Regular, sans-serif;
    font-size: 17px;
    position: relative;
    font-weight: 600;
    width: 100%;
    display: block;
    text-align: center;
    top: 21px;
    line-height: 28px;
}
