.flatButtonSelect__control {
    background-color: #30006d !important;
    height: 75px;
    font-size: 20px;
    white-space: nowrap;
    width: 300px;
    border: none !important;
    box-shadow: none !important;
    transition: none !important;
}

.flatButtonSelect__dropdown-indicator {
    padding: 0 !important;
    color: #ffffff !important;
}

.flatButtonSelect__dropdown-indicator svg {
    width: 24px;
    height: 24px;
}

.flatButtonSelect__indicators {
    padding: 0 20px !important;
}
.flatButtonSelect__option {
    transition: background-color 0.1s ease-out;
}
.flatButtonSelect__option:hover {
    background-color: #22004b !important;
}
.flatButtonSelect__option:active {
    background-color: #22004b !important;
}

