.roulette-ui-button {
    background-size: cover;
    user-select: none;
    border: none;
    background-color: transparent;
    position: relative;
    outline: none !important;
}

.roulette-ui-button:before {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
