.roulette-ui-right-button {
    background-image: url('/images/roulette/roulette-ui-right-button.png');
    width: 138px;
    height: 108px;
}

.roulette-ui-right-button:before {
    content: 'демо';
    top: 56%;
    color: #00dbff;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Fregat-Regular, MyriadPro-Regular, sans-serif;
    font-size: 20px;
    text-shadow: 0 -1px 9px #005660;
}
