.last-top-prize-caption {
    position: absolute;
    top: -70px;
    width: 100%;
    height: 100px;
    background-image: url(/images/lost-top-prize-plate.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 2;
    color: white;
    font-family: Bebas,sans-serif;
    font-size: 16px;
    line-height: 16px;
    padding: 8px 0 0 0;
}
