@import "bootstrap/dist/css/bootstrap.min.css";
@import "fonts/fonts.css";
@import "./bem.css";

/*@tailwind base;*/
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Nunito', serif;
    padding: 0 0 500px;
    margin: 0;
    background: linear-gradient(106deg, #060019, #120034);
    color: white;
}

.container {
    max-width: 1200px;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 1rem;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #420e84 linear-gradient(0, #380d6e 50%, #420e84 0%);
    border: 2px solid #380d6e;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #2f006c;
    border: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: MyriadPro-Regular, sans-serif;
}

/*.btn {*/
/*    width: 180px;*/
/*    height: 60px; */
/*    @apply bg-red-500 rounded-sm text-white capitalize focus:outline-none focus:ring-2 ring-offset-1 ring-red-400 m-1 transition-all hover:bg-red-600 active:bg-red-700;*/
/*}*/

/*.modal-header { */
/*    color: theme('colors.text.black');*/
/*}*/
