@import '@fortawesome/fontawesome-free/css/all.css';
@import '@fortawesome/fontawesome-free/css/regular.css';

@tailwind utilities;
//@tailwind base;
@tailwind components;

.flex {
    border: none;
}

.caseItemsPage {
    color: #000000;
    font-size: 16px;
    font-family: sans-serif;

    .controlSum {
        &_error {
            .value {
                color: red;
            }
        }
    }

    .itemsTable {
        display: grid;
        grid-template-columns: repeat(8, 200px);
        gap: 16px;

        .addItem {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid;
            border-radius: 3px;
            font-size: 48px;
            cursor: pointer;
            color: gray;

            &:hover {
                color: black;
            }
        }

        .item {
            border-bottom: 3px solid;
            position: relative;

            .removeItem {
                position: absolute;
                top: 0;
                right: 0;
                width: 24px;
                height: 24px;
                align-items: center;
                justify-content: center;
                border-radius: 100px;
                font-size: 18px;
                color: white;
                background: black;
                z-index: 1;
                display: none;
                cursor: pointer;
            }

            &:hover {
                .removeItem {
                    display: flex;
                }
            }

            &_rarity {
                &_contraband {
                    border-color: #ffbb7c;
                }
                &_covert {
                    border-color: #ff686f;
                }
                &_classified {
                    border-color: #f0a6ff;
                }
                &_restricted {
                    border-color: #b46dff;
                }
                &_mil-spec-grade {
                    border-color: #70a2fc;
                }
                &_industrial-grade {
                    border-color: #bad2ff;
                }
                &_consumer-grade {
                    border-color: #dadada;
                }
            }

            .image {
                width: 100%;
            }

            .title {
                user-select: none;
                cursor: pointer;
                font-weight: bold;
                font-size: 14px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;

                .icon {
                    font-size: 16px;
                }
            }

            .probability {
                display: flex;
                align-items: center;
                gap: 8px;

                input {
                    //width: 50px;
                    flex-grow: 1;
                }
            }

            .range {
                align-items: center;
                display: grid;
                grid-template-columns: auto 1fr auto;
                gap: 4px;

                .button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: bold;
                    cursor: pointer;
                    user-select: none;
                }
            }
        }
    }

    .foundVariants {
        .items {
            display: grid;
            grid-template-columns: repeat(8, 200px);
            gap: 16px;

            .item {
                border-bottom: 3px solid;
                img {
                    width: 200px;
                    height: 200px;
                }

                &_rarity {
                    &_contraband {
                        border-color: #ffbb7c;
                    }
                    &_covert {
                        border-color: #ff686f;
                    }
                    &_classified {
                        border-color: #f0a6ff;
                    }
                    &_restricted {
                        border-color: #b46dff;
                    }
                    &_mil-spec-grade {
                        border-color: #70a2fc;
                    }
                    &_industrial-grade {
                        border-color: #bad2ff;
                    }
                    &_consumer-grade {
                        border-color: #dadada;
                    }
                }
            }
        }
    }
}
