@font-face {
	font-family: 'MyriadPro-Regular';
	src: url('/fonts/myriad-pro/fonts/myriadpro-regular.eot'); /* IE 9 Compatibility Mode */
	src: url('/fonts/myriad-pro/fonts/myriadpro-regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/fonts/myriad-pro/fonts/myriadpro-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('/fonts/myriad-pro/fonts/myriadpro-regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/fonts/myriad-pro/fonts/myriadpro-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/fonts/myriad-pro/fonts/myriadpro-regular.svg#myriadpro-regular') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'MyriadPro-Black';
	src: url('/fonts/myriad-pro/fonts/myriadpro-black.eot'); /* IE 9 Compatibility Mode */
	src: url('/fonts/myriad-pro/fonts/myriadpro-black.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/fonts/myriad-pro/fonts/myriadpro-black.woff2') format('woff2'), /* Super Modern Browsers */
		url('/fonts/myriad-pro/fonts/myriadpro-black.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/fonts/myriad-pro/fonts/myriadpro-black.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/fonts/myriad-pro/fonts/myriadpro-black.svg#myriadpro-black') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'MyriadPro-BlackCond';
	src: url('/fonts/myriad-pro/fonts/myriadpro-blackcond.eot'); /* IE 9 Compatibility Mode */
	src: url('/fonts/myriad-pro/fonts/myriadpro-blackcond.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/fonts/myriad-pro/fonts/myriadpro-blackcond.woff2') format('woff2'), /* Super Modern Browsers */
		url('/fonts/myriad-pro/fonts/myriadpro-blackcond.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/fonts/myriad-pro/fonts/myriadpro-blackcond.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/fonts/myriad-pro/fonts/myriadpro-blackcond.svg#myriadpro-blackcond') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'MyriadPro-BlackCondIt';
	src: url('/fonts/myriad-pro/fonts/myriadpro-blackcondit.eot'); /* IE 9 Compatibility Mode */
	src: url('/fonts/myriad-pro/fonts/myriadpro-blackcondit.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/fonts/myriad-pro/fonts/myriadpro-blackcondit.woff2') format('woff2'), /* Super Modern Browsers */
		url('/fonts/myriad-pro/fonts/myriadpro-blackcondit.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/fonts/myriad-pro/fonts/myriadpro-blackcondit.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/fonts/myriad-pro/fonts/myriadpro-blackcondit.svg#myriadpro-blackcondit') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'MyriadPro-BlackIt';
	src: url('/fonts/myriad-pro/fonts/myriadpro-blackit.eot'); /* IE 9 Compatibility Mode */
	src: url('/fonts/myriad-pro/fonts/myriadpro-blackit.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/fonts/myriad-pro/fonts/myriadpro-blackit.woff2') format('woff2'), /* Super Modern Browsers */
		url('/fonts/myriad-pro/fonts/myriadpro-blackit.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/fonts/myriad-pro/fonts/myriadpro-blackit.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/fonts/myriad-pro/fonts/myriadpro-blackit.svg#myriadpro-blackit') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'MyriadPro-BlackSemiCn';
	src: url('/fonts/myriad-pro/fonts/myriadpro-blacksemicn.eot'); /* IE 9 Compatibility Mode */
	src: url('/fonts/myriad-pro/fonts/myriadpro-blacksemicn.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/fonts/myriad-pro/fonts/myriadpro-blacksemicn.woff2') format('woff2'), /* Super Modern Browsers */
		url('/fonts/myriad-pro/fonts/myriadpro-blacksemicn.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/fonts/myriad-pro/fonts/myriadpro-blacksemicn.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/fonts/myriad-pro/fonts/myriadpro-blacksemicn.svg#myriadpro-blacksemicn') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'MyriadPro-BlackSemiCnIt';
	src: url('/fonts/myriad-pro/fonts/myriadpro-blacksemicnit.eot'); /* IE 9 Compatibility Mode */
	src: url('/fonts/myriad-pro/fonts/myriadpro-blacksemicnit.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/fonts/myriad-pro/fonts/myriadpro-blacksemicnit.woff2') format('woff2'), /* Super Modern Browsers */
		url('/fonts/myriad-pro/fonts/myriadpro-blacksemicnit.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/fonts/myriad-pro/fonts/myriadpro-blacksemicnit.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/fonts/myriad-pro/fonts/myriadpro-blacksemicnit.svg#myriadpro-blacksemicnit') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'MyriadPro-BlackSemiExt';
	src: url('/fonts/myriad-pro/fonts/myriadpro-blacksemiext.eot'); /* IE 9 Compatibility Mode */
	src: url('/fonts/myriad-pro/fonts/myriadpro-blacksemiext.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/fonts/myriad-pro/fonts/myriadpro-blacksemiext.woff2') format('woff2'), /* Super Modern Browsers */
		url('/fonts/myriad-pro/fonts/myriadpro-blacksemiext.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/fonts/myriad-pro/fonts/myriadpro-blacksemiext.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/fonts/myriad-pro/fonts/myriadpro-blacksemiext.svg#myriadpro-blacksemiext') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'MyriadPro-BlackSemiExtIt';
	src: url('/fonts/myriad-pro/fonts/myriadpro-blacksemiextit.eot'); /* IE 9 Compatibility Mode */
	src: url('/fonts/myriad-pro/fonts/myriadpro-blacksemiextit.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/fonts/myriad-pro/fonts/myriadpro-blacksemiextit.woff2') format('woff2'), /* Super Modern Browsers */
		url('/fonts/myriad-pro/fonts/myriadpro-blacksemiextit.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/fonts/myriad-pro/fonts/myriadpro-blacksemiextit.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/fonts/myriad-pro/fonts/myriadpro-blacksemiextit.svg#myriadpro-blacksemiextit') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'MyriadPro-Bold';
	src: url('/fonts/myriad-pro/fonts/myriadpro-bold.eot'); /* IE 9 Compatibility Mode */
	src: url('/fonts/myriad-pro/fonts/myriadpro-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/fonts/myriad-pro/fonts/myriadpro-bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('/fonts/myriad-pro/fonts/myriadpro-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/fonts/myriad-pro/fonts/myriadpro-bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/fonts/myriad-pro/fonts/myriadpro-bold.svg#myriadpro-bold') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'MyriadPro-BoldCond';
	src: url('/fonts/myriad-pro/fonts/myriadpro-boldcond.eot'); /* IE 9 Compatibility Mode */
	src: url('/fonts/myriad-pro/fonts/myriadpro-boldcond.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/fonts/myriad-pro/fonts/myriadpro-boldcond.woff2') format('woff2'), /* Super Modern Browsers */
		url('/fonts/myriad-pro/fonts/myriadpro-boldcond.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/fonts/myriad-pro/fonts/myriadpro-boldcond.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/fonts/myriad-pro/fonts/myriadpro-boldcond.svg#myriadpro-boldcond') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'MyriadPro-BoldCondIt';
	src: url('/fonts/myriad-pro/fonts/myriadpro-boldcondit.eot'); /* IE 9 Compatibility Mode */
	src: url('/fonts/myriad-pro/fonts/myriadpro-boldcondit.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/fonts/myriad-pro/fonts/myriadpro-boldcondit.woff2') format('woff2'), /* Super Modern Browsers */
		url('/fonts/myriad-pro/fonts/myriadpro-boldcondit.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/fonts/myriad-pro/fonts/myriadpro-boldcondit.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/fonts/myriad-pro/fonts/myriadpro-boldcondit.svg#myriadpro-boldcondit') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'MyriadPro-BoldIt';
	src: url('/fonts/myriad-pro/fonts/myriadpro-boldit.eot'); /* IE 9 Compatibility Mode */
	src: url('/fonts/myriad-pro/fonts/myriadpro-boldit.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/fonts/myriad-pro/fonts/myriadpro-boldit.woff2') format('woff2'), /* Super Modern Browsers */
		url('/fonts/myriad-pro/fonts/myriadpro-boldit.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/fonts/myriad-pro/fonts/myriadpro-boldit.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/fonts/myriad-pro/fonts/myriadpro-boldit.svg#myriadpro-boldit') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'MyriadPro-BoldSemiCn';
	src: url('/fonts/myriad-pro/fonts/myriadpro-boldsemicn.eot'); /* IE 9 Compatibility Mode */
	src: url('/fonts/myriad-pro/fonts/myriadpro-boldsemicn.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/fonts/myriad-pro/fonts/myriadpro-boldsemicn.woff2') format('woff2'), /* Super Modern Browsers */
		url('/fonts/myriad-pro/fonts/myriadpro-boldsemicn.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/fonts/myriad-pro/fonts/myriadpro-boldsemicn.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/fonts/myriad-pro/fonts/myriadpro-boldsemicn.svg#myriadpro-boldsemicn') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'MyriadPro-BoldSemiCnIt';
	src: url('/fonts/myriad-pro/fonts/myriadpro-boldsemicnit.eot'); /* IE 9 Compatibility Mode */
	src: url('/fonts/myriad-pro/fonts/myriadpro-boldsemicnit.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/fonts/myriad-pro/fonts/myriadpro-boldsemicnit.woff2') format('woff2'), /* Super Modern Browsers */
		url('/fonts/myriad-pro/fonts/myriadpro-boldsemicnit.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/fonts/myriad-pro/fonts/myriadpro-boldsemicnit.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/fonts/myriad-pro/fonts/myriadpro-boldsemicnit.svg#myriadpro-boldsemicnit') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'MyriadPro-BoldSemiExt';
	src: url('/fonts/myriad-pro/fonts/myriadpro-boldsemiext.eot'); /* IE 9 Compatibility Mode */
	src: url('/fonts/myriad-pro/fonts/myriadpro-boldsemiext.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/fonts/myriad-pro/fonts/myriadpro-boldsemiext.woff2') format('woff2'), /* Super Modern Browsers */
		url('/fonts/myriad-pro/fonts/myriadpro-boldsemiext.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/fonts/myriad-pro/fonts/myriadpro-boldsemiext.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/fonts/myriad-pro/fonts/myriadpro-boldsemiext.svg#myriadpro-boldsemiext') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'MyriadPro-BoldSemiExtIt';
	src: url('/fonts/myriad-pro/fonts/myriadpro-boldsemiextit.eot'); /* IE 9 Compatibility Mode */
	src: url('/fonts/myriad-pro/fonts/myriadpro-boldsemiextit.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/fonts/myriad-pro/fonts/myriadpro-boldsemiextit.woff2') format('woff2'), /* Super Modern Browsers */
		url('/fonts/myriad-pro/fonts/myriadpro-boldsemiextit.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/fonts/myriad-pro/fonts/myriadpro-boldsemiextit.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/fonts/myriad-pro/fonts/myriadpro-boldsemiextit.svg#myriadpro-boldsemiextit') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'MyriadPro-Cond';
	src: url('/fonts/myriad-pro/fonts/myriadpro-cond.eot'); /* IE 9 Compatibility Mode */
	src: url('/fonts/myriad-pro/fonts/myriadpro-cond.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/fonts/myriad-pro/fonts/myriadpro-cond.woff2') format('woff2'), /* Super Modern Browsers */
		url('/fonts/myriad-pro/fonts/myriadpro-cond.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/fonts/myriad-pro/fonts/myriadpro-cond.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/fonts/myriad-pro/fonts/myriadpro-cond.svg#myriadpro-cond') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'MyriadPro-CondIt';
	src: url('/fonts/myriad-pro/fonts/myriadpro-condit.eot'); /* IE 9 Compatibility Mode */
	src: url('/fonts/myriad-pro/fonts/myriadpro-condit.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/fonts/myriad-pro/fonts/myriadpro-condit.woff2') format('woff2'), /* Super Modern Browsers */
		url('/fonts/myriad-pro/fonts/myriadpro-condit.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/fonts/myriad-pro/fonts/myriadpro-condit.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/fonts/myriad-pro/fonts/myriadpro-condit.svg#myriadpro-condit') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'MyriadPro-It';
	src: url('/fonts/myriad-pro/fonts/myriadpro-it.eot'); /* IE 9 Compatibility Mode */
	src: url('/fonts/myriad-pro/fonts/myriadpro-it.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/fonts/myriad-pro/fonts/myriadpro-it.woff2') format('woff2'), /* Super Modern Browsers */
		url('/fonts/myriad-pro/fonts/myriadpro-it.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/fonts/myriad-pro/fonts/myriadpro-it.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/fonts/myriad-pro/fonts/myriadpro-it.svg#myriadpro-it') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'MyriadPro-Light';
	src: url('/fonts/myriad-pro/fonts/myriadpro-light.eot'); /* IE 9 Compatibility Mode */
	src: url('/fonts/myriad-pro/fonts/myriadpro-light.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/fonts/myriad-pro/fonts/myriadpro-light.woff2') format('woff2'), /* Super Modern Browsers */
		url('/fonts/myriad-pro/fonts/myriadpro-light.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/fonts/myriad-pro/fonts/myriadpro-light.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/fonts/myriad-pro/fonts/myriadpro-light.svg#myriadpro-light') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'MyriadPro-LightCond';
	src: url('/fonts/myriad-pro/fonts/myriadpro-lightcond.eot'); /* IE 9 Compatibility Mode */
	src: url('/fonts/myriad-pro/fonts/myriadpro-lightcond.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/fonts/myriad-pro/fonts/myriadpro-lightcond.woff2') format('woff2'), /* Super Modern Browsers */
		url('/fonts/myriad-pro/fonts/myriadpro-lightcond.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/fonts/myriad-pro/fonts/myriadpro-lightcond.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/fonts/myriad-pro/fonts/myriadpro-lightcond.svg#myriadpro-lightcond') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'MyriadPro-LightCondIt';
	src: url('/fonts/myriad-pro/fonts/myriadpro-lightcondit.eot'); /* IE 9 Compatibility Mode */
	src: url('/fonts/myriad-pro/fonts/myriadpro-lightcondit.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/fonts/myriad-pro/fonts/myriadpro-lightcondit.woff2') format('woff2'), /* Super Modern Browsers */
		url('/fonts/myriad-pro/fonts/myriadpro-lightcondit.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/fonts/myriad-pro/fonts/myriadpro-lightcondit.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/fonts/myriad-pro/fonts/myriadpro-lightcondit.svg#myriadpro-lightcondit') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'MyriadPro-LightIt';
	src: url('/fonts/myriad-pro/fonts/myriadpro-lightit.eot'); /* IE 9 Compatibility Mode */
	src: url('/fonts/myriad-pro/fonts/myriadpro-lightit.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/fonts/myriad-pro/fonts/myriadpro-lightit.woff2') format('woff2'), /* Super Modern Browsers */
		url('/fonts/myriad-pro/fonts/myriadpro-lightit.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/fonts/myriad-pro/fonts/myriadpro-lightit.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/fonts/myriad-pro/fonts/myriadpro-lightit.svg#myriadpro-lightit') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'MyriadPro-LightSemiCn';
	src: url('/fonts/myriad-pro/fonts/myriadpro-lightsemicn.eot'); /* IE 9 Compatibility Mode */
	src: url('/fonts/myriad-pro/fonts/myriadpro-lightsemicn.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/fonts/myriad-pro/fonts/myriadpro-lightsemicn.woff2') format('woff2'), /* Super Modern Browsers */
		url('/fonts/myriad-pro/fonts/myriadpro-lightsemicn.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/fonts/myriad-pro/fonts/myriadpro-lightsemicn.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/fonts/myriad-pro/fonts/myriadpro-lightsemicn.svg#myriadpro-lightsemicn') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'MyriadPro-LightSemiCnIt';
	src: url('/fonts/myriad-pro/fonts/myriadpro-lightsemicnit.eot'); /* IE 9 Compatibility Mode */
	src: url('/fonts/myriad-pro/fonts/myriadpro-lightsemicnit.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/fonts/myriad-pro/fonts/myriadpro-lightsemicnit.woff2') format('woff2'), /* Super Modern Browsers */
		url('/fonts/myriad-pro/fonts/myriadpro-lightsemicnit.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/fonts/myriad-pro/fonts/myriadpro-lightsemicnit.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/fonts/myriad-pro/fonts/myriadpro-lightsemicnit.svg#myriadpro-lightsemicnit') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'MyriadPro-LightSemiExt';
	src: url('/fonts/myriad-pro/fonts/myriadpro-lightsemiext.eot'); /* IE 9 Compatibility Mode */
	src: url('/fonts/myriad-pro/fonts/myriadpro-lightsemiext.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/fonts/myriad-pro/fonts/myriadpro-lightsemiext.woff2') format('woff2'), /* Super Modern Browsers */
		url('/fonts/myriad-pro/fonts/myriadpro-lightsemiext.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/fonts/myriad-pro/fonts/myriadpro-lightsemiext.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/fonts/myriad-pro/fonts/myriadpro-lightsemiext.svg#myriadpro-lightsemiext') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'MyriadPro-LightSemiExtIt';
	src: url('/fonts/myriad-pro/fonts/myriadpro-lightsemiextit.eot'); /* IE 9 Compatibility Mode */
	src: url('/fonts/myriad-pro/fonts/myriadpro-lightsemiextit.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/fonts/myriad-pro/fonts/myriadpro-lightsemiextit.woff2') format('woff2'), /* Super Modern Browsers */
		url('/fonts/myriad-pro/fonts/myriadpro-lightsemiextit.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/fonts/myriad-pro/fonts/myriadpro-lightsemiextit.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/fonts/myriad-pro/fonts/myriadpro-lightsemiextit.svg#myriadpro-lightsemiextit') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'MyriadPro-Semibold';
	src: url('/fonts/myriad-pro/fonts/myriadpro-semibold.eot'); /* IE 9 Compatibility Mode */
	src: url('/fonts/myriad-pro/fonts/myriadpro-semibold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/fonts/myriad-pro/fonts/myriadpro-semibold.woff2') format('woff2'), /* Super Modern Browsers */
		url('/fonts/myriad-pro/fonts/myriadpro-semibold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/fonts/myriad-pro/fonts/myriadpro-semibold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/fonts/myriad-pro/fonts/myriadpro-semibold.svg#myriadpro-semibold') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'MyriadPro-SemiboldCond';
	src: url('/fonts/myriad-pro/fonts/myriadpro-semiboldcond.eot'); /* IE 9 Compatibility Mode */
	src: url('/fonts/myriad-pro/fonts/myriadpro-semiboldcond.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/fonts/myriad-pro/fonts/myriadpro-semiboldcond.woff2') format('woff2'), /* Super Modern Browsers */
		url('/fonts/myriad-pro/fonts/myriadpro-semiboldcond.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/fonts/myriad-pro/fonts/myriadpro-semiboldcond.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/fonts/myriad-pro/fonts/myriadpro-semiboldcond.svg#myriadpro-semiboldcond') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'MyriadPro-SemiboldCondIt';
	src: url('/fonts/myriad-pro/fonts/myriadpro-semiboldcondit.eot'); /* IE 9 Compatibility Mode */
	src: url('/fonts/myriad-pro/fonts/myriadpro-semiboldcondit.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/fonts/myriad-pro/fonts/myriadpro-semiboldcondit.woff2') format('woff2'), /* Super Modern Browsers */
		url('/fonts/myriad-pro/fonts/myriadpro-semiboldcondit.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/fonts/myriad-pro/fonts/myriadpro-semiboldcondit.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/fonts/myriad-pro/fonts/myriadpro-semiboldcondit.svg#myriadpro-semiboldcondit') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'MyriadPro-SemiboldIt';
	src: url('/fonts/myriad-pro/fonts/myriadpro-semiboldit.eot'); /* IE 9 Compatibility Mode */
	src: url('/fonts/myriad-pro/fonts/myriadpro-semiboldit.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/fonts/myriad-pro/fonts/myriadpro-semiboldit.woff2') format('woff2'), /* Super Modern Browsers */
		url('/fonts/myriad-pro/fonts/myriadpro-semiboldit.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/fonts/myriad-pro/fonts/myriadpro-semiboldit.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/fonts/myriad-pro/fonts/myriadpro-semiboldit.svg#myriadpro-semiboldit') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'MyriadPro-SemiboldSemiCn';
	src: url('/fonts/myriad-pro/fonts/myriadpro-semiboldsemicn.eot'); /* IE 9 Compatibility Mode */
	src: url('/fonts/myriad-pro/fonts/myriadpro-semiboldsemicn.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/fonts/myriad-pro/fonts/myriadpro-semiboldsemicn.woff2') format('woff2'), /* Super Modern Browsers */
		url('/fonts/myriad-pro/fonts/myriadpro-semiboldsemicn.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/fonts/myriad-pro/fonts/myriadpro-semiboldsemicn.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/fonts/myriad-pro/fonts/myriadpro-semiboldsemicn.svg#myriadpro-semiboldsemicn') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'MyriadPro-SemiboldSemiCnIt';
	src: url('/fonts/myriad-pro/fonts/myriadpro-semiboldsemicnit.eot'); /* IE 9 Compatibility Mode */
	src: url('/fonts/myriad-pro/fonts/myriadpro-semiboldsemicnit.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/fonts/myriad-pro/fonts/myriadpro-semiboldsemicnit.woff2') format('woff2'), /* Super Modern Browsers */
		url('/fonts/myriad-pro/fonts/myriadpro-semiboldsemicnit.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/fonts/myriad-pro/fonts/myriadpro-semiboldsemicnit.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/fonts/myriad-pro/fonts/myriadpro-semiboldsemicnit.svg#myriadpro-semiboldsemicnit') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'MyriadPro-SemiboldSemiExt';
	src: url('/fonts/myriad-pro/fonts/myriadpro-semiboldsemiext.eot'); /* IE 9 Compatibility Mode */
	src: url('/fonts/myriad-pro/fonts/myriadpro-semiboldsemiext.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/fonts/myriad-pro/fonts/myriadpro-semiboldsemiext.woff2') format('woff2'), /* Super Modern Browsers */
		url('/fonts/myriad-pro/fonts/myriadpro-semiboldsemiext.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/fonts/myriad-pro/fonts/myriadpro-semiboldsemiext.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/fonts/myriad-pro/fonts/myriadpro-semiboldsemiext.svg#myriadpro-semiboldsemiext') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'MyriadPro-SemiboldSemiExtIt';
	src: url('/fonts/myriad-pro/fonts/myriadpro-semiboldsemiextit.eot'); /* IE 9 Compatibility Mode */
	src: url('/fonts/myriad-pro/fonts/myriadpro-semiboldsemiextit.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/fonts/myriad-pro/fonts/myriadpro-semiboldsemiextit.woff2') format('woff2'), /* Super Modern Browsers */
		url('/fonts/myriad-pro/fonts/myriadpro-semiboldsemiextit.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/fonts/myriad-pro/fonts/myriadpro-semiboldsemiextit.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/fonts/myriad-pro/fonts/myriadpro-semiboldsemiextit.svg#myriadpro-semiboldsemiextit') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'MyriadPro-SemiCn';
	src: url('/fonts/myriad-pro/fonts/myriadpro-semicn.eot'); /* IE 9 Compatibility Mode */
	src: url('/fonts/myriad-pro/fonts/myriadpro-semicn.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/fonts/myriad-pro/fonts/myriadpro-semicn.woff2') format('woff2'), /* Super Modern Browsers */
		url('/fonts/myriad-pro/fonts/myriadpro-semicn.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/fonts/myriad-pro/fonts/myriadpro-semicn.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/fonts/myriad-pro/fonts/myriadpro-semicn.svg#myriadpro-semicn') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'MyriadPro-SemiCnIt';
	src: url('/fonts/myriad-pro/fonts/myriadpro-semicnit.eot'); /* IE 9 Compatibility Mode */
	src: url('/fonts/myriad-pro/fonts/myriadpro-semicnit.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/fonts/myriad-pro/fonts/myriadpro-semicnit.woff2') format('woff2'), /* Super Modern Browsers */
		url('/fonts/myriad-pro/fonts/myriadpro-semicnit.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/fonts/myriad-pro/fonts/myriadpro-semicnit.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/fonts/myriad-pro/fonts/myriadpro-semicnit.svg#myriadpro-semicnit') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'MyriadPro-SemiExt';
	src: url('/fonts/myriad-pro/fonts/myriadpro-semiext.eot'); /* IE 9 Compatibility Mode */
	src: url('/fonts/myriad-pro/fonts/myriadpro-semiext.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/fonts/myriad-pro/fonts/myriadpro-semiext.woff2') format('woff2'), /* Super Modern Browsers */
		url('/fonts/myriad-pro/fonts/myriadpro-semiext.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/fonts/myriad-pro/fonts/myriadpro-semiext.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/fonts/myriad-pro/fonts/myriadpro-semiext.svg#myriadpro-semiext') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'MyriadPro-SemiExtIt';
	src: url('/fonts/myriad-pro/fonts/myriadpro-semiextit.eot'); /* IE 9 Compatibility Mode */
	src: url('/fonts/myriad-pro/fonts/myriadpro-semiextit.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/fonts/myriad-pro/fonts/myriadpro-semiextit.woff2') format('woff2'), /* Super Modern Browsers */
		url('/fonts/myriad-pro/fonts/myriadpro-semiextit.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/fonts/myriad-pro/fonts/myriadpro-semiextit.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/fonts/myriad-pro/fonts/myriadpro-semiextit.svg#myriadpro-semiextit') format('svg'); /* Chrome < 4, Legacy iOS */
}

