@import "styles/utils/Utils.module.scss";

$blocksGap: pxToRem(16);

.page {
  &__mobilMenu {
    margin-bottom: calc(var(--bs-gutter-x) * 0.5);
  }

  &__block {
    margin-top: $blocksGap;
  }
}

.logoutButton {
  margin-top: pxToRem(12);
}

.pageContainer {
  display: grid;
  grid-template-columns: 1fr;

  @include breakpoint(lg) {
    grid-template-columns: pxToRem(240) 1fr;
    grid-gap: $blocksGap;
  }
}
