@import "styles/utils/Utils.module.scss";

.page {
  &__mobilMenu {
    margin-bottom: calc(var(--bs-gutter-x) * 0.5);
  }
}

.logoutButton {
  margin-top: pxToRem(12);
}

.pageContainer {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: pxToRem(24);

  @include breakpoint(lg) {
    grid-template-columns: pxToRem(240) 1fr;
    grid-gap: pxToRem(24);
  }
}
