@import "styles/utils/Utils.module.scss";

.wrapper {
  min-height: 100%;

  &__footer {
    margin: pxToRem(16) 0 0;

    @include breakpoint(sm) {
      margin: pxToRem(32) 0 0;
    }
    @include breakpoint(md) {
      margin: pxToRem(48) 0 0;
    }

    @include breakpoint(lg) {
      margin: pxToRem(60) 0 0;
    }
  }
}
