.convexButton {
  position: relative;
  display: inline-block;
  font-family: 'Gilroy-SemiBold', sans-serif;
  background: #f6f83a;
  font-size: 35px;
  padding: 10px 50px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 3px 0 1px #b29406;
  color: #332600;
  transition: .05s linear;
  top: 0;
  user-select: none;
  outline: none;
  border: none;
}

.convexButton:before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: radial-gradient(#fffe12, #e2a700);
}

.convexButton:after {
  opacity: 0;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: radial-gradient(#fefd25, #fec012);
  z-index: 1;
  transition: .05s linear;
}

.convexButton:hover {
  color: #332600;
}
.convexButton:hover:after {
  opacity: 1;
}

.convexButton:active {
  top: 3px;
  box-shadow: 0 0 0 1px #b29406;
}

.convexButton:active:after {
  opacity: 0;
}

.convexButton:active:before {
  background: radial-gradient(#c1c007, #e2a700);
}

.convexButtonContent {
  position: relative;
  z-index: 2;
}