@import "styles/utils/Utils.module.scss";

$gradient-rarity-consumer: radial-gradient(178.01% 126.67% at 50% 100%, hsla(0, 0%, 65%, 0.5) 0%, rgba(24, 24, 36, .5) 100%);
$gradient-rarity-industrial: radial-gradient(178.01% 126.67% at 50% 100%, rgba(94, 152, 217, .5) 0%, rgba(24, 24, 36, .5) 100%);
$gradient-rarity-milspec: radial-gradient(178.01% 126.67% at 50% 100%, rgba(73, 135, 255, .5) 0%, rgba(24, 24, 36, .5) 100%);
$gradient-rarity-restricted: radial-gradient(178.01% 126.67% at 50% 100%, rgba(151, 93, 248, .5) 0%, rgba(24, 24, 36, .5) 100%);
$gradient-rarity-classified: radial-gradient(178.01% 126.67% at 50% 100%, rgba(235, 120, 254, .5) 0%, rgba(24, 24, 36, .5) 100%);
$gradient-rarity-covert: radial-gradient(178.01% 126.67% at 50% 100%, rgba(255, 106, 115, .5) 0%, rgba(24, 24, 36, .5) 100%);
$gradient-rarity-knife-gloves: radial-gradient(178.01% 126.67% at 50% 100%, rgba(255, 177, 105, .5) 0%, rgba(24, 24, 36, .5) 100%);
$gradient-rarity-contraband: radial-gradient(178.01% 126.67% at 50% 100%, rgba(255, 177, 105, .5) 0%, rgba(24, 24, 36, .5) 100%);

$color-rarity-consumer: #a2a2a2;
$color-rarity-industrial: #5e98d9;
$color-rarity-milspec: #4987ff;
$color-rarity-restricted: #975df8;
$color-rarity-classified: #eb78fe;
$color-rarity-covert: #ff6a73;
$color-rarity-knife-gloves: #ffb169;
$color-rarity-contraband: #ffb169;

.card {
  height: 200px;
  border-radius: 7px;
  position: relative;

  &:after {
    content: '';
    height: 3px;
    width: 70%;
    position: absolute;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.card_consumer-grade {
  background: $gradient-rarity-consumer;

  &:after {
    background: $color-rarity-consumer;
  }
}

.card_classified {
    background: $gradient-rarity-classified;

  &:after {
    background: $color-rarity-classified;
  }
}

.card_covert {
    background: $gradient-rarity-covert;

  &:after {
    background: $color-rarity-covert;
  }
}

.card_mil-spec-grade {
    background: $gradient-rarity-milspec;

  &:after {
    background: $color-rarity-milspec;
  }
}

.card_restricted {
    background: $gradient-rarity-restricted;

  &:after {
    background: $color-rarity-restricted;
  }
}

.card_industrial-grade {
    background: $gradient-rarity-industrial;

  &:after {
    background: $color-rarity-industrial;
  }
}

.card_contraband {
    background: $gradient-rarity-contraband;

  &:after {
    background: $color-rarity-contraband;
  }
}


.icon {
  position: absolute;
  height: 60%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: 0.2;
}

.icon_consumer-grade {
  color: $color-rarity-consumer;
}

.icon_classified {
  color: $color-rarity-classified;
}

.icon_covert {
  color: $color-rarity-covert;
}

.icon_mil-spec-grade {
  color: $color-rarity-milspec;
}

.icon_restricted {
  color: $color-rarity-restricted;
}

.icon_industrial-grade {
  color: $color-rarity-industrial;
}

.icon_contraband {
  color: $color-rarity-contraband;
}

.imageWrapper {
  position: absolute;
  inset: 0 0 0 0;
}

.image {
  object-fit: contain;
  width: 75%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  user-select: none;
  -webkit-user-drag: none;
  z-index: 1;
}

.text {
  padding: 10px;
  position: absolute;
  bottom: 0;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  z-index: 2;
  cursor: default;
}

.textType {
  font-weight: lighter;
  text-overflow: ellipsis;
  overflow: hidden;
}

.textNameRu {
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
}
