@import "styles/utils/Utils.module.scss";

$sliderWidth: 800;
$infoHeight: 170;
$imageSize: 340;

.slide {
  width: pxToRem($sliderWidth);
  height: pxToRem($sliderWidth);
  background: #0b001f url('/images/pages/roulette/prizes/modal/bg-1.png') no-repeat top left;
  background-size: cover;
  display: flex;
  justify-content: center;
  position: relative;

  &__imageWrapper {
    position: absolute;
    top: pxToRem(130);
  }
}

.image {
  max-width: 100%;
  max-height: 100%;
}

.imageWrapper {
  width: pxToRem($imageSize);
  height: pxToRem($imageSize);
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}


.slider {
  width: pxToRem($sliderWidth);
  position: relative;

  &__navNext {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &__navPrev {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }

  &__info {
    position: absolute;
    bottom: 0;
    left: 0; right: 0;
  }
}

.wrapper {
}

.dialog {
  width: pxToRem(800);
}

.navigationButton {
  color: #2c0362;
  background: transparent;
  display: flex;
  align-items: center;
  height: pxToRem($sliderWidth - $infoHeight);
  transition: all 0.15s linear;
  padding: pxToRem(10);

  &:hover {
    cursor: pointer;
    background-color: rgba(36,23, 57, 0.15);
  }
}

.navigationIcon {
  width: pxToRem(60);
}


.itemInfo {
  height: pxToRem($infoHeight);
  background: #0b001f url('/images/pages/roulette/prizes/modal/bg-2.png') no-repeat top left;
  background-size: cover;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: #ebdcff;
  font-family: 'Bebas', sans-serif;
  font-size: pxToRem(26);
}

.price {
  font-size: pxToRem(22);
  font-family: 'Bebas', sans-serif;

  &:after {
    font-family: Rouble, sans-serif;
    content: 'p';
  }
}

.moreInfo {
  font-family: 'Fregat-Regular', sans-serif;
  color: #c0c0c0;
  font-size: pxToRem(14);

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
