@import "styles/utils/Utils.module.scss";

.counter {
  color: #000000;
  background: #ffffff;
  border-radius: 3px;
  overflow: hidden;
  height: pxToRem(40);
}

.icon {
  width: 100%;
}

.button {
  width: pxToRem(40);
  padding: pxToRem(8);
  transition: all 0.15s ease-out;
  height: pxToRem(40);
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;

  &:hover:not(&_disabled) {
    cursor: pointer;
    background: #dddddd;
  }

  &_dec {
    border-right: 1px solid #dddddd;
  }

  &_inc {
    border-left: 1px solid #dddddd;
  }

  &_disabled {
    opacity: 0.3;
  }
}

.input {
  text-align: center;
  width: 3em;
  font-size: pxToRem(20);
  height: pxToRem(40);

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

  &[type=number] {
    -moz-appearance:textfield; /* Firefox */
  }
}