@import "styles/utils/Utils.module.scss";

.reviews {
  &__item {
    margin: 0 0 pxToRem(16);

    &:last-child {
      margin: 0;
    }
  }
}

.input {
  background: #191250;
  border-radius: 3px;
  outline: none;
  border: 1px solid #191250;
  width: 100%;
  display: block;
  color: #ffffff;
  transition: all 0.15s linear;
}

.input:focus {
  border: 1px solid #32278b;
}

.input::placeholder {
  color: #959595;
  font-style: italic;
}

.textarea {
  resize: none;
  background: none;
  width: 100%;
  border: none;
  outline: none;
  color: #ffffff;
}

.textareaContainer {
  padding: 10px 20px 35px;
}

.button {
  padding: 13px 18px;
  background: #191250;
  color: #efcf07;
  border-radius: 3px;
  border: 1px solid #221a62;
  transition: all 0.15s linear;

  &:hover, &:active {
    color: #d1b504;
    background: #171148;
  }

  &:focus {
    border: 1px solid #32278b;
  }

  &:disabled {
    opacity: 0.8;
  }

  &:disabled:hover, &:disabled:active, &:disabled:focus {
    background: #191250;
    color: #efcf07;
    border: 1px solid #221a62;
  }

}

.textCounter {
  color: #efcf07;
  font-size: 0.8rem;
  bottom: 10px;
  right: 20px;
}

.reviewsContainer {
  height: pxToRem(300);

  @include breakpoint(md) {
    height: pxToRem(400);
  }

  @include breakpoint(lg) {
    height: pxToRem(500);
  }

  overflow-y: scroll;
}

.header {
  font-size: pxToRem(40);
}

.headerImage {
  height: pxToRem(120);
}

.headerContainer {
  padding: 0 pxToRem(10) 0 0;

  @include breakpoint(md) {
    padding: 0;
  }
}
