@import "styles/utils/Utils.module.scss";

.author {
  color: #c0004d;
  font-size: pxToRem(20);
}

.container {
  background: #191250;
  padding: pxToRem(10) pxToRem(20);
  border-radius: pxToRem(3);
}

.date {
  color: #efcf07;
  font-size: pxToRem(12);
}
