@import "styles/utils/Utils.module.scss";

.rating {
  display: grid;
  grid-template-columns: repeat(5, pxToRem(24));
  grid-gap: pxToRem(5);
}

.star {
  width: 100%;
  color: #d30155;

  &_theme {
    &_opacity {
      opacity: 0.4;
    }
  }
}